# Virtual environments
airflow_env/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Python build files
build/
dist/
*.egg-info/